@model IEnumerable<MonashLTS.Models.Enrolment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.UnitCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitAttemptStat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.CourseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.UnitCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitAttemptStat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
