@model MonashLTS.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Case.CaseManager_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case.CaseManager_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseManager.FullNameCM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseManager.FullNameCM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
